// Si modal está levantado, esconder modal
if ($('.modal').hasClass('in') == true) {
  // Ocultar modal
  $('.modal').modal("hide");
}

// Refrescar Fullcalendar
$("#calendar").fullCalendar('refetchEvents');

// Mostrar alertas
$('.alerts-flash').html("<%= j render 'layouts/alerts', locals:{flash: flash} %>");