<!DOCTYPE html>
<html>
  <head>
    <title>DlSemana26</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://use.fontawesome.com/f2f8ffa745.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="alerts-flash">
      <%= render 'layouts/alerts' %>
    </div>
  
    <%= yield %>
  </body>
</html>
